body {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
background-image: url(images/102.jpg);
background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 font-family: Arial, Helvetica, sans-serif;
}


.laura {
position: fixed;
top: 0.5rem;
right: 1rem;
z-index: 10;
display: inline;
cursor: pointer;
text-decoration: none;
opacity: 60%;
padding: 0.5rem;
}

.laura a {
  color: #000;
  text-decoration: none;
  opacity: 60%;
}

.laura a:hover {
    color: #000;
   opacity: 90%;  }



.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  max-height: 1000px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(166, 231, 231);
 padding: 1rem;

  width: 200px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
  margin: .1rem;


  /* From https://css.glass */
background: rgba(255, 255, 255, 0.692);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.8px);
-webkit-backdrop-filter: blur(1.8px);
border: 1px solid rgba(255, 255, 255, 0.58);
}



.box:hover {
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.54);   }   img {


  display:none
}
  
h5 {
  font-size: 1.5rem;
}
h3 {
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.26);
}

h3:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.164);
   
  
   
  }

.hide {
  /* display:none; */
  visibility: hidden;
  width: 237px;
  height: 134px;
}.green {
  background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
}